<!DOCTYPE html>

<html ng-app="app">
<head>
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/angular-material/angular-material.css" rel="stylesheet" />
    <title></title>
    <style>        
      input[type='text'] { font-size: 50px; }
      div7 {  background-color : lightpink      }
    </style>
</head>
<body>
   
    <div class="Container">
        <div ng-controller="Hello">
            <label>
                Single word:
                <input type="text" name="input" ng-model="example.text"
                       ng-pattern="example.word" required ng-trim="false">
            </label>
            <div layout="row" class="Container">

                <div7 flex="16.66" flex-order="-1">
                    <div ng-repeat="aleg in dict [example.text] .data" style="float:left">
                        <div><h2>{{aleg.SpeciesName}}</h2></div>
                        <img data-ng-src=data:image/png;base64,{{aleg.Image}} />
                    </div>
                </div7>
              
            </div>



        </div>
    </div>

    

    <script src="Scripts/angular.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/Main.js"></script>
    <script src="app/aleg.js"></script>

</body>
</html>
