<!DOCTYPE html>

<html ng-app="app">
<head>
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
    <style>
        input[type='text'] {
            font-size: 20px;
        }

        div {
            font-size: 8px;
        }
        label {
            font-size: 20px;
        }
        .odd {
            background-color: Beige;
        }
        .even {
            background-color: Snow;
        }
         .chart div {
    font: 10px tahoma;
    background-color: steelblue;
    text-align: left;
    padding: 3px;
    margin: 1px;
    color: black;
    }
     
 </style>
   
</head>
<body>
    <div class="Container">
            <label>
                Search : <input type="text" name="input" size="150" ng-model="meals.text" ng-pattern="input.word" ng-list> eg : 30_Male
            </label>
            <div ng-controller="Query">
                <div layout="column" class="Container2">
                    <div7 ng-repeat="val in meals.text" class="Container3" style="float:left">
                        <div layout="column" flex="20" flex-order="-1" ng-init="initMeals(val)" ng-class="$even ? 'odd' : 'even'">
                            <div ng-repeat="P in dictMeals[val].data[0]">
                                <div style="width:300px">
                                    <h2>{{P.Recipe.Name}} </h2>                                    
                                    <img src={{P.Recipe.ImageUrl}} alt="Description"  height="250" width="250" />                                  
                                    <div class="chart">
                                        <data ng-init="g2=P.GradeInfo.GradersInfo['CaloriesCountMealGrader'].Grade*100*2.5"/>
                                        <div style="background-color:{{colours[(g2 | number:0)]}}; width:{{g2 | number:0}}px;">Diet</div>
                                    </div>
                                    <div class="chart">
                                        <data ng-init="g3=(P.GradeInfo.GradersInfo['MaxNutValuesMealGrader'].Grade + P.GradeInfo.GradersInfo['MinNutValuesMealGrader'].Grade)/2*100*2.5"/>
                                        <div style="background-color:{{colours[(g3 | number:0)]}}; width: {{g3 | number:0}}px;">Nutrition</div>
                                    </div>
                                    <div class="chart">
                                        <data ng-init="g4=(P.GradeInfo.GradersInfo['PrepTimeMealGrader'].Grade + P.GradeInfo.GradersInfo['ServingsNumMealGrader'].Grade)/2*100*2.5" />
                                        <div style="background-color:{{colours[(g4 | number:0)]}}; width: {{g4 | number:0}}px;">Convenience</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div7>
                </div>
            </div>
        
         
        
        </div>
    <script src="Scripts/angular.min.js"></script>    
    <script src="app/Products.js"></script>    
   
</body>
</html>