<!DOCTYPE html>

<html ng-app="app">
<head>
    <link href="Content/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="Content/angular-material/angular-material.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title></title>
    <style>        
      input[type='text'] { font-size: 50px; }
     .Container3:last-child    {  background-color : yellowgreen }
     .Container3:nth-child(1)    {  background-color : orange}
     .Container3:nth-child(2)    {  background-color : lightcoral }
     .Container3:nth-child(3)    {  background-color : lightgreen}
     .Container3:nth-child(4)    {  background-color : lightskyblue}
     
    </style>
</head>
<body>
   
    <div class="Container">
        <div ng-controller="Query">
            <label>
                Input:
                <input type="text" name="input" ng-model="input.text"
                       ng-pattern="input.word" ng-list>
            </label>
           
            <div layout="row" class="Container2">
                <div7 ng-repeat="val in input.text" class="Container3" style="float:left">
                    <div flex="20"  flex-order="-1">
                        <div ng-repeat="Product in dict [val] .data"  style="float:left">
                            <div><h2>{{Product.Name}}</h2></div>
                            <div><h2>{{Product.Protein}}</h2></div>
                            <div><h2>{{Product.Fat}}</h2></div>
                            <div><h2>{{Product.Fiber}}</h2></div>
                            <img data-ng-src=data:image/png;base64,{{Product.Image}} />
                        </div>
                    </div>
                </div7>
            </div>
        </div>
    </div>
    

    <script src="Scripts/angular.min.js"></script>
    <script src="app/Products.js"></script>
</body>
</html>
